<div
  class="mainContainer d-flex flex-column justify-content-center align-items-center"
>
  <!-- id?:number,
      nome:string,
      cognome:string,
      dataDiNascita: Date,
      email:string,
      numeroTelefono:string,
      dataIscrizione?: Date,
      dataUltimoIngresso?:Date,
      ingresso: number -->
  <h2 *ngIf="!id">Iscrivi nuovo cliente</h2>
  <h2 *ngIf="id">Modifica cliente</h2>

  <div class="container d-flex justify-content-center align-items-center">
    <form
      #newClienteForm="ngForm"
      class="d-flex flex-column justify-content-center align-items-center row"
    >
      <div class="inputContainer col d-flex align-items-center">
        <label for="nome">Nome :</label>
        <input type="text" name="nome" required ngModel class="me-3" />
        <label for="cognome">Cognome : </label>
        <input type="text" name="cognome" required ngModel class="me-3" />
      </div>
      <div class="inputContainer col d-flex align-items-center">
        <label for="email">Email :</label>
        <input type="email" name="email" required ngModel class="me-3" />
        <label for="dataDiNascita">Data di nascita :</label>
        <input type="date" name="dataDiNascita" required ngModel class="me-3" />
      </div>
      <div class="inputContainer d-flex col-12 align-items-center">
        <label for="numeroTelefono">Numero telefono :</label>
        <input
          class="col"
          type="tel"
          pattern="[0-9]{10}"
          name="numeroTelefono"
          required
          ngModel
        />
      </div>
      <div *ngIf="!id" class="inputContainer d-flex col align-items-center">
        <label for="ingresso">N. ingressi :</label>
        <input
          class="col"
          type="number"
          name="ingresso"
          min="1"
          required
          ngModel
        />
      </div>
      <button
        *ngIf="id"
        type="button"
        (click)="open(myModal2)"
        class="btn px-5 btn-outline-secondary sm"
        [disabled]="!newClienteForm.valid"
      >
        Conferma
      </button>
      <button
        *ngIf="!id"
        type="button"
        (click)="open(myModal)"
        class="btn px-5 btn-outline-secondary sm"
        [disabled]="!newClienteForm.valid"
      >
        Conferma
      </button>
      <!-- MODAL ISCRIZIONE -->
      <ng-template *ngIf="!id" #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Conferma dati</h4>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          ></button>
        </div>
        <div class="modal-body">
          <div>Nome: {{ newClienteForm.value.nome }}</div>
          <div>Cognome: {{ newClienteForm.value.cognome }}</div>
          <div>Email: {{ newClienteForm.value.email }}</div>
          <div>Data di nascita: {{ newClienteForm.value.dataDiNascita }}</div>
          <div>telefono: {{ newClienteForm.value.numeroTelefono }}</div>
          <div class="border-bottom border-dark mb-3">
            numero ingressi: {{ newClienteForm.value.ingresso }}
          </div>
          <div>Totale: {{ newClienteForm.value.ingresso * 5 }},00€</div>
        </div>
        <div class="modal-footer">
          <div class="fw-bold">
            {{ serverRes }}
          </div>
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="iscriviCliente(newClienteForm)"
          >
            Conferma e iscrivi
          </button>
        </div>
        <!-- MODALE MODIFICA -->
      </ng-template>
      <ng-template *ngIf="id" #modal2 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">
            Conferma la modifica dei dati
          </h4>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          ></button>
        </div>
        <div class="modal-body">
          <div>Nome: {{ newClienteForm.value.nome }}</div>
          <div>Cognome: {{ newClienteForm.value.cognome }}</div>
          <div>Email: {{ newClienteForm.value.email }}</div>
          <div>Data di nascita: {{ newClienteForm.value.dataDiNascita }}</div>
          <div>telefono: {{ newClienteForm.value.numeroTelefono }}</div>
        </div>
        <div class="modal-footer">
          <div class="fw-bold">
            {{ serverRes }}
          </div>
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="modificaCliente()"
          >
            Conferma e iscrivi
          </button>
        </div>
      </ng-template>
    </form>
  </div>
</div>
